/* body {font-family: 'Open Sans', sans-serif;} */
body {
  font-family: 'Merriweather', serif;
}

fieldset {
  margin-top: 1em;
  margin-bottom: 0.5em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0.5em;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  background-color: #F2EFE9;
  background: linear-gradient(#FFF 0.25em,#F2EFE9); /* Standard syntax */
  border: 1px solid #BFBAB0;
  border-radius:4px;
}
legend {
  margin-left: 0.75em;
  margin-bottom: 0.25em;
  color: #000000;
  font-weight: bold;
  padding:0;
}
legend::before {
  content: "\2003";
}
label {
  display: block;
  margin-left: 0.75em;
}
label >*{
  display:block;
}
.male {
  background-color: #2175bc;
  border-color: #2175bc;
}
.male:hover {
  background-color: #2586d7;
}
.male:active {
  background-color: #3b94dd;
}
.female{
  background-color: #bc2121;
  border-color: #bc2121;
}
.female:hover {
  background-color: #d72525;
}
.female:active {
  background-color: #dd3b3b;
}
.unknown{
  background-color: #6e6e6e;
  border-color: #6e6e6e;
}
.unknown:hover {
  background-color: #7e7e7e;
}
.unknown:active {
  background-color: #8c8c8c;
}
