.persons {list-style-type: none; margin: 0; padding: 0;border:none;}
.persons li { border-bottom: 2px solid #fff;margin: 0; padding: 5px 5px 5px 5px; color: #fff; flex-direction: row;display: flex;justify-content:space-between;align-items:center;align-content:center}
.persons li:last-child { border:none;}
.persons li.male { background-color: #2175bc;}
.persons li:hover.male  {background-color: #2586d7;}
.persons li.female { background-color: #bc2121;}
.persons li:hover.female  {background-color: #d72525;}
.persons li.unknown { background-color: #6e6e6e;}
.persons li:hover.unknown  {background-color: #7e7e7e;}
.persons .name {font-size: 30px}
.persons .additional {font-size: 20px}
.persons .birth:before{content:"\002A"}
.persons .death:before{content:"\271D"}
.persons .actions a {text-decoration: none; background-color:#fff;color:#000;padding: 5px;}
.persons .actions a:hover {background-color:#ccc; }
